services:
  librechat:
    image: librechat/librechat:v0.8.0   # 0.7.0, 0.8.0/latest have problems with login
    ports:
      - "3080:3080"  # LibreChat default port
    environment:
      - ADMIN=true
      - ALLOW_REGISTRATION=true
      - ALLOW_EMAIL_LOGIN=true
      - ALLOW_SOCIAL_LOGIN=false
      - ALLOW_SOCIAL_REGISTRATION=false
      - ALLOW_UNVERIFIED_EMAIL_LOGIN=true
      - MONGO_URI=mongodb://mongo:27017/librechat
      - JWT_SECRET=devSecret123
      - SESSION_SECRET=devSession456
      - ACCESS_TOKEN_SECRET=devAccess789
      - JWT_REFRESH_SECRET=devRefresh321
      - REFRESH_TOKEN_SECRET=devRefresh321
      - ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
    depends_on:
        - mongo
    volumes:
      - librechat_data:/app/data
    restart: unless-stopped

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_DB: librechat
      POSTGRES_USER: librechat_user
      POSTGRES_PASSWORD: librechat_pass
    volumes:
      - librechat_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  mcpo:
    build:
      context: mcpo
    ports:
      - "8000:8000"
    depends_on:
      app:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - ollama_net

  app:
    image: apache/causeway-app-helloworld:latest
    ports:
      - "8080:8080"
    networks:
      - ollama_net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  ollama_data:
  librechat_data:

networks:
  ollama_net:
