services:
  ollama:
    build: ./ollama
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_NO_GPU=true
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - ollama_net
    entrypoint: ["/bin/sh", "-c"]
    # a healthcheck can be added here if ollama supports it in the future
    # currently the image doesn't contain: curl, wget, etc.
    healthcheck:
      test: [ "CMD-SHELL", "ollama list || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    command: >
      "ollama serve &
      sleep 5 &&
      ollama pull phi3 && 
      ollama list &&
      wait
      "

  librechat:
    image: librechat/librechat:latest
    ports:
      - "3080:3080"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    environment:
      - ADMIN=true
      - ALLOW_REGISTRATION=true
      - ALLOW_EMAIL_LOGIN=true
      - ALLOW_SOCIAL_LOGIN=false
      - ALLOW_SOCIAL_REGISTRATION=false
      - ALLOW_UNVERIFIED_EMAIL_LOGIN=true
      - MONGO_URI=mongodb://mongo:27017/librechat
      - JWT_SECRET=devSecret123
      - SESSION_SECRET=devSession456
      - ACCESS_TOKEN_SECRET=devAccess789
      - JWT_REFRESH_SECRET=devRefresh321
      - REFRESH_TOKEN_SECRET=devRefresh321
      - ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
      - OLLAMA_ENABLED=true
      - OLLAMA_BASE_URL=http://ollama:11434/v1
    depends_on:
      mongo:
        condition: service_started
      ollama:
        condition: service_healthy
      app:
        condition: service_healthy
    volumes:
      - librechat_data:/app/data
      - ./librechat.yaml:/app/librechat.yaml
      - ./librechat_data/auth.json:/app/api/data/auth.json
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3080" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ollama_net

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    networks:
      - ollama_net

  app:
    image: apache/causeway-app-helloworld:latest
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:8080"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - ollama_net

volumes:
  librechat_data:
  ollama_data:

networks:
  ollama_net:
