services:
  chatbox:
    image: ghcr.io/open-webui/open-webui:main
    container_name: chatbox_ui
    restart: unless-stopped
    ports:
      - "3000:8080"
    depends_on:
      - ollama
    environment:
      - OLLAMA_API=http://ollama:11434
    networks:
      - ollama_net

  ollama:
    build:
      context: ollama
      dockerfile: Dockerfile
    environment:
    - HTTP_PROXY=http://zscaler.proxy.int.kn:80
    - HTTPS_PROXY=http://zscaler.proxy.int.kn:80
    - NO_PROXY=localhost,127.0.0.1,.int.kn,eks.amazonaws.com,.ecr.aws
    ports:
      - "11434:11434"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:11434" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - ollama_net

  model_puller:
    image: debian:bookworm-slim
    user: root
    depends_on:
      ollama:
        condition: service_healthy
    networks:
      - ollama_net
    volumes:
      - ../zscaler-root.crt:/usr/local/share/ca-certificates/zscaler-root.crt
    command: >
      bash -c "
        apt-get update &&
        apt-get install -y curl ca-certificates &&
        update-ca-certificates &&
        curl -k -v -X POST http://ollama:11434/api/pull -d '{\"name\":\"deepseek-r1:8b\"}'
      "

volumes:
  ollama_data:

networks:
  ollama_net:

